@model IEnumerable<BookRecomendationWebApp.Models.BookViewModel>

@{
    ViewBag.Title = "DisplayResultsUsingWebAPI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DisplayResultsUsingWebAPI</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookReview)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookRating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookReview)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookRating)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
